* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}


.about-header {
    background-color: #6E1A37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}


.about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 3px;
}

.about-logo-text {
    font-size: 40px;
    font-weight: bold;
}


.back-home {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: 0.3s;
}

.back-home:hover {
    color: #f3d6df;
}


.about-intro {
    max-width: 850px;
    margin: 0 auto;
    padding: 60px 20px 40px;
    text-align: center;
}

.about-intro h1 {
    color: #6E1A37;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-intro p {
    color: #555;
    font-size: 18px;
    line-height: 1.9;
}



.about-cards {
    max-width: 1100px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.about-card {
    background-color: white;
    width: 31%;
    padding: 30px 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.about-card:hover {
    transform: translateY(-5px);
}

.about-icon {
    display: block;
    font-size: 40px;
    margin-bottom: 15px;
}

.about-card h2 {
    color: #6E1A37;
    font-size: 21px;
    margin-bottom: 12px;
}

.about-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.7;
}
.about-footer {
    background-color: #f8f8f8;
    color: #6E1A37;
    text-align: center;
    padding: 25px 20px;
}

.about-footer p {
    font-size: 14px;
    margin: 0;
}