* {
    margin: -9px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}

.header {
    background-color: #6E1A37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
  
    
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 3px;
}

.logo-text {
    font-size: 40px;
    font-weight: bold;
}

.logo-subtext {
    margin: 0;
    line-height: 1.1;
}

.pa-links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pa-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 12px;
    transition: 0.3s;
}

.pa-links a:hover {
    color: #f3d6df;
}


.hero-section {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("OIP (4).webp");
    background-size: cover;
    background-position: center;

    padding: 40px 20px;
}

.hero-content {
    color: rgba(0, 0, 0, 0.932);
    max-width: 800px;
}

.hero-content h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
}


.hero-button {
    display: inline-block;
    background-color: white;
    color: #6E1A37;
    text-decoration: none;

    padding: 12px 25px;
    border-radius: 8px;

    font-weight: bold;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: #f3d6df;
}


.student-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f8f8f8;
}

.student-section h2 {
    color: #6E1A37;
    font-size: 40px;
    margin-bottom: 25px;
}

.student-card {
    max-width: 800px;
    margin: 0 auto;

    padding: 35px;

    background-color: white;
    border-radius: 15px;

    display: flex;
    align-items: center;
    gap: 30px;

    text-align: right;

    border-right: 5px solid #6E1A37;

    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.08);
}

.user-img {
    width: 110px;
    height: 110px;

    border-radius: 50%;
    object-fit: cover;
}


.student-info {
    flex: 9px;
}

.student-info h3 {
    color: #6E1A37;
    font-size: 30px;
    margin-bottom: 50px;
}

.student-info p {
    margin-bottom: 24px;
    color: #555;
    font-size: 20px;
    line-height: 1.8;

}

.subjects-section {
    padding: 50px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.subjects-section h2 {
    color: #6E1A37;
    font-size: 30px;
    margin-bottom: 30px;
}

.subjects-container {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 25px;
}

.subject-card {
    background-color: white;

    width: 31%;
    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.subject-card:hover {
    transform: translateY(-5px);
}

.subject-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.subject-card h3 {
    color: #6E1A37;
    font-size: 22px;
    margin-bottom: 12px;
}

.subject-card p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}


.subject-button {
    display: inline-block;

    background-color: #6E1A37;
    color: white;

    text-decoration: none;

    padding: 10px 20px;
    border-radius: 8px;

    font-weight: bold;

    transition: 0.3s;
}

.subject-button:hover {
    background-color: #8a294b;
}

.contact-section {
    padding: 60px 20px;

    text-align: center;

    background-color: #6E1A37;
    color: white;
}

.contact-section h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.contact-section p {
    font-size: 17px;
    margin-bottom: 25px;
}

.contact-button {
    display: inline-block;

    background-color: white;
    color: #6E1A37;

    text-decoration: none;

    padding: 12px 25px;
    border-radius: 8px;

    font-weight: bold;

    transition: 0.3s;
}

.contact-button:hover {
    background-color: #f3d6df;
}

.footer {
    background-color: #6E1A37;

    color: white;

    text-align: center;

    padding: 30px 20px;
    margin-bottom: -26px;
}

.footer h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 5px;
    font-size: 20px;
}